:root {
  --dark-shadow: #00000033;
  --bg-color: #F9F9F9;
  --font-pop: 'Poppins';
  --font-urb: 'Urbanist';
  --font-int: 'Inter';
  --font-man: 'Manrope';
}

html {
  position: relative;  /* Enables height: 100% */
  height: 100%;
}

body {
  background-color: var(--bg-color);
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -100;
  /*background: var(--bg-color) url(images/blob-glow.svg) repeat-y 50% 80%;*/

  background-color: var(--bg-color);
  opacity: 0.2;
  background-image: radial-gradient(blue 1px, transparent 1.5px);
  background-size: 23px 23px;
}

#project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0 50px 0;
}

.project-heading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.project-heading h1 {
  font-family: var(--font-urb), sans-serif;
  font-size: 4.4rem;
  font-weight: 800;
  margin: 0 40px;
  /*color: #222222;*/
  background-color: var(--bg-color);
}

/*--------flex--------*/
.flex-root {
  display: flex;
  margin: 20px;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-root .margin {
  flex: 1 1 100px;
}

.flex-main {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-word {
  font-size: 1.2rem;
  flex: 1 1 auto;
  padding: 20px;
  width: 520px;
  font-weight: 300;
  background-color: var(--bg-color);
}

.flex-word h2 {
  font-family: var(--font-int), sans-serif;
  font-weight: 800;
}

@media (max-width: 1400px) {
  .flex-word {
    flex: 0.9 1 auto;
    width: 400px;
  }
}

.flex-video {
  flex: 0 1 auto;
  padding: 20px;
  max-width: 500px;
  z-index: 3;
}

/*----------------*/
.grid {
  display: grid;
  grid-template-columns: 400px max(600px, auto) auto;
  grid-template-rows: 70px minmax(160px, auto) auto;
  grid-template-areas:
    'header header'
    'leftbar main'
    'footer footer';
  column-gap: 20px;
  row-gap: 20px;
}